DEBUG = {{ 'True' if env.DEBUG else 'False' }}
SECRET = "{{ env.SECRET_KEY }}"
ALLOWED_ENVIRONMENTS = ['Production', 'Development', 'CPT', 'JHB', 'AzureNorth', 'AzureWest', 'Azure']
ASI_QUERIES = [
    {'text': 'CPT', 'query': [['environment', 'CPT']]},
    {'text': 'JHB', 'query': [['environment', 'JHB']]},
    {'text': 'AzureNorth', 'query': [['environment', 'AzureNorth']]},
    {'text': 'AzureWest', 'query': [['environment', 'AzureWest']]},
    {'text': 'Production', 'query': [['environment', 'Production']]},
    {'text': 'Heartbeats', 'query': {'q': 'event:Heartbeat'}},
]
COLUMNS = [
    'severity', 'status', 'createTime', 'lastReceiveTime', 'timeoutLeft', 'duplicateCount',
    'customer', 'environment', 'service', 'resource', 'event', 'value', 'text'
]
RUNBOOK_URL = 'https://ecentric-jira.atlassian.net/wiki/spaces/CIA'